@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  margin: 0;
  width: 100vw;
  font-family: Roboto;
  font-style: normal;
}

.container{
 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__container{
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  max-width: 1150px;
}

.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #EEEFF1;
 
}

.nav{
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
}

.nav__menu{
  display: flex;
  justify-content: space-between;
  width: 650px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.nav__menu span:hover{
  color: #34547A;
  cursor: pointer;
}

.header__content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 140px;
  padding-bottom: 145px;
}

.header__content .content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-content__title{
  font-weight: 500;
  font-size: 48px;
  color: #000000;
  margin: 0;
}

.header-content__text{
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  max-width: 475px;
  margin: 60px 0 60px 0;

}

.button{
  width: 225px;
  height: 65px;
  background-color: #34547A;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  border: none;
  outline: none;
}

.header__picture{
  max-width: 357px;
  max-height: 234px;
  margin-top: 20px;
  flex-shrink: 1;
}

.button:hover{
  cursor: pointer;
  border: solid #000000;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__text{
  font-weight: 400;
  font-size: 16px;
  max-width: 515px;
  margin-bottom: 100px;
  color: #727272;
  margin-top: 10px;
  text-align: center;
}

.about__title{
  margin-top: 100px;
  font-weight: 500;
  font-size: 32px;
}

.projects{
  background-color: #34547A;
}

.projects__container{
  max-width: 1920px;
  margin: auto;
}

.project-card{
  max-width: 141px;
  max-height: 50px;
  margin: 100px 0 100px 0;
}

.project-cards{
  display: flex;
  flex-shrink: 1;
  margin: auto;
  justify-content: center;
}

.project-cards__first-row{
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  margin: auto;
  width: 500px;
  margin: 0;
  margin-right: 25px;
}

.project-cards__second-row{
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  margin: auto;
  width: 500px;
  margin: 0;
}

.skils__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1150px;
  margin: auto;
}

.skils_content{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
  width: 40%;
}

.skils__picture{
  margin-top: 100px;
  max-width: 555px;
  max-height: 450px;
  margin-bottom: 100px;
}

.skils__title{
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin-left: 8%;
}

.abilities__title{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

ul{ 
  list-style-type:none;
}

.abilities__rectangle{
  margin-top: 20px;
  height: 4px;
  max-width: 445px;
  width: 100%;
  position: relative;
  background-color: #C4C4C4;
}

.abilities__rectangle>div{
  width: 75%;
  height: 100%;
  background-color: #34547A;
}

.video-section{
  display: flex;
  flex-direction: column;
  background-color: #EEEFF1;
  align-items: center;
}

.video__picture{
  max-width: 1110px;
  max-height: 600px;

  flex-shrink: 1;
  width: 100%;
  height: 100%;
}

.video__play{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 41%;
}

.video__play:hover{
  cursor: pointer;
}

.video-section__title{
  margin-top: 100px;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 10px;
}

.video-section__text{
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  max-width: 540px;
  text-align: center;
  margin-bottom: 40px;
}

.video-section__video{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  max-width: 1115px;
  max-height: 604px;
  width: 100%;
  height: 100%;
  position: relative;
}

.info{
  margin: 28px 0 28px 0;
  overflow: hidden;
}

.info__grid{
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr 1fr;
}

.cell__picture{
  width: 100%;
  height: 100%;
}

.cell__hover div{
  background-color: #34547ACC;
  opacity: 80%;
  width: 100%;
  height: 100%;
}

.cell__hover{
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  
}

.grid__cell:hover .cell__hover{
  display: block;
}

.cell__eye{
  position: absolute;
  top: 40%;
  left: 40%;
  width: 30%;
  opacity: 100%;
}

.grid__cell{
  position: relative;
}

.form{
  background-color: #EEEFF1;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 762px;
}

.form__text{
  max-width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}

.form__title{
  margin: 0;
  margin-top: 100px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

.form__inputs{
  display: flex;
  justify-content: space-between;
  max-width:550px;
  width: 100%;
}

.input__name{
  width: 255px;
  max-width: 255px;
  height: 50px;
  border: none;
  padding-left: 20px;
  box-sizing: border-box;
}

.input__email{
  width: 255px;
  height: 50px;
  border: none;
  padding-left: 20px;
}

.form__input-message{
  max-width: 542px;
  max-height: 175px;
  width: 100%;
  height: 100%;
}

.input-message{
  width: 100%;
  height: 100%;
  max-width: 550px;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  border: none;
  resize: none;
  padding-left: 20px;
  padding-top: 17px;
}

.form__button{
  margin-bottom: 100px;
}

.footer{
  height: 151px;
  background-color: #34547A;
}

.footer__title{
  font-weight: 500;
  font-size: 21px;
  color: #FFFFFF;
}

.footer__copyright{
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}

.footer__container{
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
}

.footer__icon{
  max-width: 44px;
  max-height: 23px;
}

.footer__icons{
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
  width: 150px;
}

@media(max-width:1279px){
  .nav__menu{
    display: none;
  }

  .nav{
    justify-content: start;
    margin-left: 3%;
  }

  .header__content{
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
  }

  .content{
    align-items: center;
  }

  .header__picture{
    max-width: 298px;
    max-height: 195px;
    margin-left: 0;
  }

  .header-content__title{
    font-size: 34px;
    margin-top: 15%;
  }

  .header-content__text{
    font-size: 16px;
    text-align: center;
    max-width: 322px;

    margin: 44px 0 44px 0;
  }

  .project-cards__first-row{
    flex-direction: column;
    width: auto;
  }

  .project-cards__second-row{
    flex-direction: column;
    width: auto;
  }

  .project-card {
    margin: 50px 0 50px 0;
  }

  .skils__container{
    flex-direction: column-reverse;
    align-items: center;
    max-width: 1200px;
  }

  .skils_content{
    margin: 0;
    height: auto;
    max-width: 320px;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 100px;
  }

  .skils__picture {
    margin: 0;
    max-width: 339px;
    max-height: 275px;
    flex-shrink: 1;
    margin-top: 100px;
  }

  .skils__title{
    font-size: 32px;
    place-self: center;
  }

  .abilities__title{
    font-size: 16px;
  }

  .abilities__rectangle{
    max-width: 340px;
  }

  .abilities__ul{
    min-width: 300px;
  }

  .video__play{
    width: 75px;
    height: 75px;
  }

  .info__grid{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/1fr 1fr;
  }
  
  .cell-1{
    order: -1;
  }

  .cell-6{
    order: 1;
  }

  .cell-2{
    order: -1;
  }

  .cell-3{
    order: 1;
  }

  .cell-4{
    order: 2;
  }

  .cell-5{
    order: 3;
  }

  .cell-8{
    order: 3;
  }

  .form__title{
    font-size: 32px;
  }

  .form__text{
    font-size: 16px;
  }
  .form__inputs{
    flex-direction: column;
    align-items: center;
    max-width: 542px;
    height: 110px;
  }

  .input-message{
    width: 80%;
    max-width: 342px;
  }

  .input__name{
    width: 80%;
    max-width: 342px;
  }

  .input__email{
    width: 80%;
    box-sizing: border-box;
    max-width: 342px;
  }
  .form__input-message{
    display: flex;
    justify-content: center;
  }

  .form__text{
    font-size: 16px;
  }

  .footer__icons{
    margin-top: 30px;
  }

  .footer{
    height: 210px;
  }

  .form__button{
    width: 190px;
    height: 55px;
    font-size: 14px;
  }

  .footer__container{
    flex-direction: column;
    align-items: center;
  }

  .footer__text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__title{
    font-size: 21px;
  }
  .footer__copyright{
    font-size: 13px;
  }
  @media(max-width: 500px){
    .video__play{
      top: 30%;
    }
  }
} 